@charset "UTF-8";

/**
 * 全ページ共通
 *
 */

::selection {
  background: #fffda7;
  color: #000;
}

.eng p {
  font-family: "Unica One", cursive;
  line-height: 0.9;
  color: #0065bc;
}

.eng .ttl {
  font-size: 16vw;
  font-style: italic;
  position: fixed;
  top: 3vw;
  left: 0;
  opacity: 0.15;
}

html {
  background: #fafafa;
}

body {
  min-width: 1200px;
  color: #333;
  overflow-x: hidden;
}

body.smt {
  min-width: 320px;
}

article {
  /*    margin: 100px 12vw 100px;*/
  z-index: 55;
  position: relative;
}

section {
  border-bottom: 1px solid #ddd;
  /*    margin: 55px 0;*/
  box-sizing: border-box;
  padding: 0px 10vw 0;
  /*    border-radius: 8px;*/
  background: #fff;
  /*    background-color: rgba(255, 255, 255, 0.95);*/
}

ul.list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
ul.list li {
  font-size: 18px;
  /*    margin-bottom: 13px;*/
  width: 30%;
  text-align: center;
  border: 1px solid #0065bc;
  padding: 13px;
  background-color: #fff;
  border-radius: 5px;
  color: #0065bc;
}

ul.list li.sub {
  font-size: 15px;
  background: #0065bc;
  color: #fff;
}

ul.list li:before {
  /*
    content: "・";
    color: #0065BC;
    font-weight: bold;
    margin-right: 0px;
*/
}

.mb55 {
  margin-bottom: 34px;
}
.line-box {
  border-top: 1px solid #ddd;
  padding-top: 144px;
  margin-bottom: 144px;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.inner {
  padding: 0 10vw;
}

h1 {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  z-index: 88;
  top: 0;
  left: 0;
  padding: 13px;
  font-size: 12px;
  text-align: left;
  color: #333;
  border-top: 5px solid #0065bc;
  -webkit-box-shadow: 0px 5px 5px #333;
  box-shadow: 0px 5px 5px #f5f5f5;
}

.attent {
  font-size: 13px;
  color: #888;
  margin-top: 21px;
}
.navi-wrap h2 {
  color: #333;
  font-size: 18px;
  padding: 0 0px 0px;
  margin-bottom: 34px;
  font-weight: bold;
}

.navi-wrap h3 {
  /*    color: #fff;*/
  /*    text-align: center;*/
  font-size: 24px;
  margin-bottom: 55px;
  padding: 21px;
  margin-left: -34px;
  margin-right: -34px;
  margin-top: -35px;
  color: #0065bc;
  background: #f0f9ff;
  border-top: 1px solid #9dc4e5;
  font-weight: bold;
}

.navi-wrap h4 {
  font-weight: bold;
  color: #0065bc;
  font-size: 21px;
  margin: 55px 0 21px;
}

.navi-wrap h5 {
  font-weight: bold;
  color: #333;
  font-size: 18px;
  margin: 50px 0 20px;
  border-left: 5px solid #0065bc;
  padding-left: 13px;
}

p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.9;
}

.links {
  border-top: 1px solid #eee;
}

.links a {
  padding: 13px;
  border-bottom: 1px solid #eee;
}

.sp a.fix,
.links a.fix {
  color: #888;
}

.sp a.fix:before,
.links a.fix:before {
  content: "【FIX済】";
}

/*
.sp a.new:after ,
.links a.new:after {
    content: '';
  display: inline-block;
  width: 19px;
  height: 8px;
  background-image: url(./new.gif);
  background-size: contain;
  vertical-align: top;
    margin-left: 5px;
}
*/

.navi-wrap {
  margin-bottom: 144px;
}

.navi-wrap:last-child {
  margin-bottom: 0px;
}

.sp,
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.white {
  background: #fff;
  margin-top: 55px;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}

.flex {
  padding: 0 13vw;
}

.flex .txt {
  width: 65%;
  padding-right: 5vw;
}

.flex .box {
  width: 35%;
}

.img-box {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 13px 55px 55px 20px #eee;
}

.img-box img {
  width: 100%;
}

.sp div.box {
  box-sizing: border-box;
  padding: 21px 21px;
  width: 32%;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 2%;
}

.sp.half div.box {
  width: 49%;
}

.sp div.box a {
  font-size: 15px !important;
}

.update {
  color: #999;
  font-size: 13px;
}

.update {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.box .update {
  display: flex;
  margin-top: 13px;
}
.update:before {
  content: "更新日 :";
  margin-right: 0.382em;
}

.update.new {
  color: #d73700;
}
.update.new:after {
  content: "";
  display: inline-block;
  width: 19px;
  height: 8px;
  background-image: url(./new.gif);
  background-size: contain;
  vertical-align: top;
  margin-left: 0.382em;
}

#main {
  width: 1400px;
  top: 0;
  position: absolute;
  overflow: hidden;
  left: 50%;
  margin-left: -700px;
}

.fixed {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 750px;
  z-index: 999;
}

.fixed img {
  width: 100%;
}

.txt-box {
  /*
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
*/
  /*    border: 1px solid #ddd;*/
  margin: 55px 0;
  box-sizing: border-box;
  padding: 110px 13vw;
  box-shadow: 0px 6px 16px 1px #eee;
  -moz-box-shadow: 0px 6px 16px 1px #eee;
  -webkit-box-shadow: 0px 6px 16px 1px #eee;
}

.txt-box .concept {
  color: #0065bc;
  font-size: 13px;
  border-bottom: 1px solid #0065bc;
  line-height: 1.8;
  display: inline-block;
  margin-bottom: 20px;
}
.txt-box h2 {
  color: #0065bc;
  font-size: 30px;
  line-height: 1.7;
  font-weight: bold;
}

.txt-box h3 {
  font-size: 24px;
  padding: 0px 0 8px;
  border-top: none;
  color: #0065bc;
  margin: 120px 0 21px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.dcon {
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 34px;
  padding-bottom: 55px;
  margin-top: 55px;
}
.txt-box h4 {
  font-size: 18px;
  padding: 5px;
  border-top: none;
  color: #0065bc;
  margin: 0 0 13px;
  font-weight: bold;
  /*    border-top: 1px solid #0065BC;*/
  /*    border-bottom: 1px solid #0065BC;*/
  /*    border-radius: 5px;*/
  /*  display: inline-block;*/
  /*  text-align: center;*/
}

.date {
  font-size: 12px;
  color: #888;
  display: block;
  margin-bottom: 16px;
}

a {
  color: #333;
  font-size: 16px;
  display: block;
  margin: 0 0;
  text-decoration: none;
}

a:hover {
  color: #555;
  background: #fffda7;
}

a[target="_blank"] {
  color: #1e88e5;
  text-decoration: none;
}

a[target="_blank"]::before {
  margin-right: 8px;
  content: "\f08e";
  font-family: FontAwesome;
  display: inline-block;
  vertical-align: -1px;
}

.refer {
  font-size: 10px;
  color: #333333;
}

#main-2 {
  position: relative;
}

.main-img {
  position: fixed;
}

.content-img {
  position: absolute;
  top: 0;
  left: 696px;
}
